In [4]:
import sqlalchemy as db

# create the engine
engine = db.create_engine('postgresql://postgres:admin@localhost/olist')

# localhost = 127.0.0.1

# open the connection
conn = engine.connect()

In [5]:
db_server = 'postgresql'
user = 'postgres'
password = 'admin'
ip = 'localhost'
db_name = 'olist'

# create the engine
engine = db.create_engine(f'{db_server}://{user}:{password}@{ip}/{db_name}')

# open the connection
conn = engine.connect()

In [11]:
# run a query by specifying the query as a string in python 
geo = pd.read_sql_query('SELECT * FROM datageo;', con=conn)

In [12]:
geo

                   estado values product_category_name
0      Mato Grosso do Sul    100             papelaria
1                   Goiás     98             papelaria
2          Santa Catarina     96             papelaria
3              Pernambuco     93             papelaria
4                   Bahia     85             papelaria
...                   ...    ...                   ...
3289             Amazonas   None          climatizacao
3290                 Acre   None          climatizacao
3291  Rio Grande do Norte   None          climatizacao
3292              Roraima   None          climatizacao
3293            Tocantins   None          climatizacao

[3294 rows x 3 columns]

In [13]:
estados = {
   "Acre": "AC",
   "Alagoas": "AL",
   "Amapá": "AP",
   "Amazonas": "AM",
   "Bahia": "BA",
   "Ceará": "CE",
   "Distrito Federal": "DF",
   "Espírito Santo": "ES",
   "Goiás": "GO",
   "Maranhão": "MA",
   "Mato Grosso": "MT",
   "Mato Grosso do Sul": "MS",
   "Minas Gerais": "MG",
   "Pará": "PA",
   "Paraíba": "PB",
   "Paraná": "PR",
   "Pernambuco": "PE",
   "Piauí": "PI",
   "Rio de Janeiro": "RJ",
   "Rio Grande do Norte": "RN",
   "Rio Grande do Sul": "RS",
   "Rondônia": "RO",
   "Roraima": "RR",
   "Santa Catarina": "SC",
   "São Paulo": "SP",
   "Sergipe": "SE",
   "Tocantins": "TO"
}

In [28]:
trocar('Sergipão')

In [27]:
estados['Sergipão']

KeyError: 'Sergipão'

In [31]:
def trocar(st):
    if st in estados:
        return estados[st]
        
    
geo['ST'] = geo['estado'].apply(trocar)

In [32]:
geo

                   estado values product_category_name  ST
0      Mato Grosso do Sul    100             papelaria  MS
1                   Goiás     98             papelaria  GO
2          Santa Catarina     96             papelaria  SC
3              Pernambuco     93             papelaria  PE
4                   Bahia     85             papelaria  BA
...                   ...    ...                   ...  ..
3289             Amazonas   None          climatizacao  AM
3290                 Acre   None          climatizacao  AC
3291  Rio Grande do Norte   None          climatizacao  RN
3292              Roraima   None          climatizacao  RR
3293            Tocantins   None          climatizacao  TO

[3294 rows x 4 columns]

In [33]:
geo.to_sql('datageo', conn, if_exists='replace', index=False)